@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.projects {
    margin-top: 52px;

    @include desktop {
        width: 90%;
    }

    &__header {
        font-size: 40px;
        @include font-bold;
        margin-bottom: 24px;
    }

    &-container {
        @include tablet {
            padding: 0 16px;
            display: flex;
            justify-content: center;
            gap: 40px;
        }

        @include desktop {
            padding: 0 32px;
            gap: 80px;
        }
    }
}