@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.project {
    max-width: 800px;
    margin-bottom: 32px;

    &__title {
        @include h2-mobile;
        font-size: 20px;
        margin-bottom: 8px;
        margin-top: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        @include tablet {
            @include h2-tablet__desk;
            margin-bottom: 16px;
        }
    }

    &__img {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 8px;
        object-fit: contain;
        color: grey;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        @include tablet {
            margin-bottom: 16px;
        }
    }

    &__description {
        @include p-mobile;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        @include tablet {
            @include p-tablet__desk;
            margin-bottom: 8px;
        }
    }
}