@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.project {
    width: 46%;

    &__title {
        @include h2-tablet__desk;
        margin-bottom: 16px;
        margin-top: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__img {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 16px;
        object-fit: contain;
        color: grey;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__description {
        @include p-tablet__desk;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}