@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.header {
    height: 60px;
    width: 100%;
    // padding: 0 16px;
    position: absolute;
    display: flex;

    @include tablet {
        padding: 0 24px;
    }

    @include desktop {
        padding: 0 32px;
    }

    &-nav {
        display: flex;
        align-items: center;
        height: 100%;

        & ul {
            display: flex;

            li:first-child a {
                color: $white;
            }
        }

        &__items {
            padding: 0 16px;

            & a {
                cursor: pointer;
                color: $silver;
                font-weight: bold;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: $white;
                }



            }
        }

    }
}