.header {
    height: 60px;
    // background-color: darkred;
    position: absolute;
    // z-index: 1;

    &-nav {
        display: flex;
        align-items: center;
        height: 100%;

        & ul {
            display: flex;
        }

        &__items {
            padding: 0 16px;
            color: white;
        }

    }
}