@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.header {
    height: 60px;
    width: 100%;
    // padding: 0 16px;
    position: absolute;
    display: flex;

    @include tablet {
        padding: 0 24px;
    }

    @include desktop {
        padding: 0 32px;
    }

    &-nav {
        display: flex;
        align-items: center;
        height: 100%;

        ul {
            display: flex;

            li {
                padding: 0 16px;

                a {
                    cursor: pointer;
                    color: $white;
                    font-weight: bold;
                    transition: color 0.2s ease-in-out;
                }
            }
        }

        &:hover {
            li a {
                color: $silver;
            }
        }

        li a:hover {
            color: $white;
        }
    }
}

.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); // Black with 80% opacity
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3dvh;
    width: 100%;
    height: 100%;
    z-index: 1;

    animation: fadeIn 0.5s ease-in-out;

    &.closing {
        animation: fadeOut 0.5s ease-in-out;
    }

    &__button {
        @include modal-button-tablet-desktop;
    }


    &__pdf {
        width: 90vw;
        height: calc(94vw * 11 / 8.5); // 90% of the viewport width times the aspect ratio (11 / 8.5
        margin-bottom: 32px;

        @include tablet {
            width: 60vw;
            height: calc(60vw * 11 / 8.5); // 90% of the viewport width times the aspect ratio (11 / 8.5
            // margin-bottom: 32px;
        }

        @include desktop {
            width: calc(70vh * 8.5 / 11); // 80% of the viewport height times the aspect ratio (8.5 / 11)
            height: 73vh;
            // margin-bottom: 32px;
        }

    }

    &__contact {
        background-color: $white;
        background-color: #272475;
        color: #272475;
        width: fit-content;
        height: auto;
        overflow: visible;
        padding: 0 32px;
        padding-bottom: 24px;
        border-radius: 6px;


        @include tablet {
            width: 400px;
            height: 260px;
            padding: 0 48px;
        }

        &--header {
            @include h2-mobile;
            margin-bottom: 8px;
            margin-top: 24px;

            @include tablet {
                @include h2-tablet__desk;
                margin-bottom: 16px;
                margin-top: 40px;
            }
        }

        &--anchor {
            color: $mercury;
            @include p-mobile;

            @include tablet {
                @include p-tablet__desk;
            }

            &:hover {
                color: $white;
            }
        }
    }
}


// Fade in modal animation

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}