@use "./styles/partials/reset" as *;
@use "./styles/partials/global" as *;
@use "./styles/partials/variables" as *;

.appContain {
    position: relative;
    background: radial-gradient(circle, rgb(39, 36, 117) 9%, rgba(0, 0, 50, 1) 100%);
    height: 100%;
}