@import '../../styles/partials/mixins';

main {
    padding: 0 16px 60px 16px;

    @include tablet {
        padding: 0 60px 60px 60px;
    }

    @include desktop {
        padding: 0 200px 60px 200px;
    }
}

.hero {
    height: 400px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    // align-items: flex-start;

    @include tablet {
        align-items: center;
        height: 600px;
        padding: 0 24px;
    }

    @include desktop {
        align-items: center;
        height: 700px;
        padding: 0 32px;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 100px;
        // gap: 4px;
        width: 100%;

        @include tablet {
            align-items: center;
            justify-content: center;
            gap: 48px;
        }

        @include desktop {
            align-items: center;
            justify-content: center;
            gap: 48px;
        }
    }

    // Hero Text Visibility
    &__tablet-title-wrap {

        @include desktop {
            display: none;
        }
    }

    &__desktop-title-wrap {
        display: none;

        @include desktop {
            display: unset;
        }
    }

    &__container-text {
        width: 600px;
    }

    // Hero Text Styling
    &__title {
        font-size: 40px;
        line-height: 2.75rem;
        @include font-bold;
        margin-bottom: 16px;

        @include tablet {
            font-size: 64px;
            line-height: 40px;
            margin-bottom: 16px;
        }

        @include desktop {
            font-size: 60px;
            line-height: 4.125rem;
        }

        @include desktop-large {
            font-size: 72px;
            line-height: 4.125rem;
        }
    }

    &__subtitle {
        font-size: 24px;
        line-height: 33px;
        @include font-light;
        margin-bottom: 16px;

        @include tablet {
            font-size: 48px;
            line-height: 40px;
        }

        @include desktop {
            font-size: 48px;
        }

        @include desktop-large {
            font-size: 52px;
        }
    }

    &__bio {
        font-size: 14px;
        line-height: 22px;
        @include font-light;
        margin-bottom: 16px;


        @include tablet {
            font-size: 18px;
            line-height: 26px;
        }

        @include desktop {
            font-size: 24px;
            line-height: 33px;
        }
    }


    // Hero Github Styling
    &__github {
        font-size: 18px;
        line-height: 22px;
        @include font-light;

        @include tablet {
            font-size: 18px;
            line-height: 44px;
        }

        @include desktop {
            font-size: 24px;
            line-height: 44px;
        }
    }

    @include tablet {
        font-size: 40px;
        line-height: 44px;
        @include font-light;
    }

    @include desktop {
        font-size: 40px;
        line-height: 44px;
        @include font-light;
    }

    &__github-logo {
        display: inline-block;
        height: 30px;
        width: 30px;
        margin-left: 8px;
        transform: translateY(8px);

        @include tablet {
            height: 40px;
            width: 40px;
        }

        @include desktop {
            height: 40px;
            width: 40px;
        }
    }


    // Hero Image Styling
    &__headshot {
        border-radius: 50%;
        height: 120px;
        box-shadow: 6px 6px 0 2px white;

        @include tablet {
            height: 200px;
            margin-bottom: 48px;
        }

        @include desktop {
            transform: translateX(-8px);
            height: 300px;
        }
    }
}