@import '../../styles/partials/mixins';

main {
    padding: 0 32px 60px 32px;

    @include tablet {
        padding: 0 40px 60px 40px;
    }

    @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 100px 60px 100px;
    }

    @include desktop-large {
        padding: 0 100px 60px 100px;
    }
}

.hero {
    height: 440px;
    // width: 100%;
    padding: 0 3vw;
    display: flex;
    // align-items: flex-start;

    @include tablet {
        align-items: center;
        height: 500px;
        padding: 0 24px;
    }

    @include desktop {
        align-items: center;
        height: 700px;
        padding: 0 32px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // padding-top: 100px;
        // gap: 4px;
        // width: 100%;
        margin-top: 32px;

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            padding-top: 100px;
            gap: 40px;
            width: 100%;
        }

        @include desktop {
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
    }

    &__breakpoint-wrap {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 4vw;
        margin-bottom: 24px;

        @include tablet {
            // max-width: 300px;
            // display: block;
        }

        @include desktop {
            max-width: none;
            display: flex;
            flex-direction: row;
            gap: 32px;
        }

    }

    // Hero Text Visibility
    &__tablet-title-wrap {
        display: none;

        @include tablet {
            display: unset;
        }

        @include desktop {
            display: none;
        }

    }

    &__desktop-title-wrap {
        display: unset;

        @include tablet {
            display: none;
        }

        @include desktop {
            display: unset;
        }

        @include desktop-large {
            min-width: 508px;
        }
    }

    &__container-text {
        padding: 0 16px;

        @include tablet {
            padding: 0;
            // min-width: 452px;
        }
    }

    // Hero Text Styling
    &__title {
        font-size: 9vw;
        line-height: 6vw;
        @include font-bold;
        margin-bottom: 8px;

        @include tablet {
            font-size: 64px;
            line-height: 40px;
            margin-bottom: 16px;
        }

        @include desktop {
            font-size: 60px;
            line-height: 4.125rem;
            margin-bottom: 8px;
        }

        @include desktop-large {
            font-size: 72px;
            line-height: 4.125rem;
            margin-bottom: 16px;
        }
    }

    &__subtitle {
        font-size: 7vw;
        line-height: 5vw;
        @include font-light;
        // margin-bottom: 16px;

        @include tablet {
            font-size: 48px;
            line-height: 40px;
            margin-bottom: 32px;
        }

        @include desktop {
            font-size: 48px;
        }

        @include desktop-large {
            font-size: 52px;
        }
    }

    &__bio {
        // width: 100%;
        font-size: 16px;
        // line-height: 22px;
        @include font-light;
        margin-bottom: 16px;


        @include tablet {
            font-size: 20px;
            line-height: 26px;
            max-width: 500px;
            margin-bottom: 8px;
        }

        @include desktop {
            font-size: 24px;
            line-height: 33px;
            // max-width: 450px;
        }
    }


    // Hero Github Styling
    &__github {
        font-size: 18px;
        line-height: 22px;
        @include font-light;

        @include tablet {
            font-size: 18px;
            line-height: 44px;
        }

        @include desktop {
            font-size: 24px;
            line-height: 44px;
        }
    }

    @include tablet {
        font-size: 40px;
        line-height: 44px;
        @include font-light;
    }

    @include desktop {
        font-size: 40px;
        line-height: 44px;
        @include font-light;
    }

    &__github-logo {
        display: inline-block;
        height: 30px;
        width: 30px;
        margin-left: 8px;
        transform: translateY(8px);

        @include tablet {
            height: 40px;
            width: 40px;
        }

        @include desktop {
            height: 40px;
            width: 40px;
        }
    }


    // Hero Image Styling
    &__headshot {
        border-radius: 50%;
        // height: 120px;
        height: 23vw;
        box-shadow: 2px 2px 0 1px white;

        @include tablet {
            box-shadow: 6px 6px 0 2px white;
            max-width: 300px;
            max-height: 300px;
            // display: block;
            // max-height: 300px;
        }

        @include desktop {
            max-width: 300px;
            margin: 0;
        }
    }
}